@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

input {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 45px;
  background-color: #066aff;
  border-style: none;
  padding: 0;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 5px;
  margin-bottom: 5px;
  caret-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

input[type="radio"]{
  width: 20px;
  height: 20px;
}

*{
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #c1c1c1;
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 40px;
}

nav h1{
  font-weight: 700;
  color: #DF1300;
}

nav h1 span{
  color: #fdd614;
}

nav .author{
  position: absolute;
  left: 0;
  top: 55px;
  left: 120px;
  font-weight: 800;
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gauche {
  grid-area: 1 / 1 / 6 / 2;
  grid-template-rows: repeat(2, 0.5fr);
  font-size: 40px;
display: grid;
justify-content: center;
align-items: center;
}

.milieu {
  grid-area: 1 / 2 / 5 / 4;
  justify-content: center;
  display: grid;
}

.droite {
  grid-area: 1 / 4 / 5 / 5;
  grid-template-columns: repeat(3, 0.2fr);
display: grid;
justify-content: center;
}

#motInconnu {
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 2s;
  font-weight: 600;
}

#a,#b,#c,#d,#d,#e,#f,#g,#h,#i,#j,#k,#l,#m,#n,#o,#p,#q,#r,#s,#t,#u,#v,#w,#x,#y,#z,#A,#B,#C,#D,#E,#F,#G,#H,#I,#J,#K,#L,#M,#N,#O,#P,#Q,#R,#S,#T,#U,#V,#W,#X,#Y,#Z{
  border-radius: 50%;
  width: 40px;
  font-weight: bold;
  color: #ffffff;
  height: 40px;
  margin: 5px;
  background-color: #066aff;
  justify-content: center;
  display: grid;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

a{
  text-decoration: none;
  color: #000000;
}

.smart-popin {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  overflow: auto; 
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.smart-popin:target {
  opacity: 1;
  visibility: visible;
}

.smart-popin .sp-table {
  display: table;
  height: 100%;
  width: 100%;
}

.smart-popin .sp-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 10px; 
}

.smart-popin .sp-body {
  border-radius: 20px;
  position: relative; 
  z-index: 1; 
  width: auto; 
  min-width: 250px;
  max-width: 600px; 
  margin: 0 auto;
  background-color: #c1c1c1;
  padding: 2em;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
  box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
  width: 66.66%; 
}

.smart-popin .sp-body * {
  max-width: 100%; 
}

.smart-popin .sp-body p{
  margin:2px;
}

.smart-popin .sp-body .titlePopin input{
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 3px;
  margin-bottom: 15px;
}

.smart-popin .sp-body .bottom-space{
  margin-bottom: 5px;
}

.smart-popin .sp-body .underline{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.smart-popin .sp-back { 
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  display: block;
}

.smart-popin .sp-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 1.6em;
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}

.website-content {
  max-width: 980px;
  padding: 20px;
  margin: 0 auto;
}

.open-popin {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: crimson;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  margin-bottom: 0.8em;
}

.jaune{
background-color: #ffd000;
}

.rouge{
  background-color: #DF1300;
}

#popinlettres{
  display: none;
}

.gridAlpha{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#defaite, #victoire{
  display: none;
}

button{
  padding: 10px 20px;
  border-radius: 8px;
  border: 0px;
  background-color: #DF1300;
  color: #ffffff;
  font-size: 15px;
  margin: 0px 5px;
}

.quitter{
  background-color: #ffd000;
}

#rejouer{
  display: none;
}

.settingRules{
  font-size: 20px;
}

.tailleMoyenne{
  font-size: 18px;
}

@media screen and (max-width: 1300px) {

  .smart-popin .sp-body .titlePopin input{
  width: 30px;
  height: 30px;
  }

  #popinlettres{
    display: grid;
  }

  .droite{
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .gauche { grid-area: 1 / 1 / 2 / 6;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(1, 0.2fr);
    grid-template-columns: repeat(3, 0.2fr);
    height: 50px; 
  }

  .gauche a{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .milieu { 
    grid-area: 2 / 1 / 6 / 6; 
  }
    
}

@media screen and (max-width: 650px) {

  input { 
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

  #motInconnu {
    font-size: 25px;
  }

  nav {
    height: 60px;
    margin-bottom: 25px;
    font-size: 35px;
  }

  nav .author{
    position: absolute;
    left: 0;
    top: 47px;
    left: 105px;
    font-weight: 800;
    font-size: 13px;
  }

}

@media screen and (max-width: 500px) {

  input{
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  #motInconnu {
    font-size: 20px;
  }
 
}

@media screen and (max-width: 400px) {

  input{
    width: 35px;
    height: 35px;
    font-size: 28px;
  }

  #motInconnu {
    font-size: 18px;
  }
  
}